{%extends 'base.html'%}
{%block content%}
<div class='container'>
    <form id='lecture-form' method='POST' class='post-form my-3'>
        {{form.csrf_token}}
        {%for field, errors in form.errors.items()%}
        <div class='alert alert-danger' role='alert'>
            <strong>{{form[field].label}}</strong>:{{','.join(errors)}}
        </div>
        {%endfor%}
        <div class='form-group'>
            <input type='text' name='subject' id='subject' class='form-control' placeholder='제목' value="{{form.subject.data or ''}}">
        </div>
        <div id='form-group'>
            <textarea class='markdown-content form-control' name='content' id='content' rows='15'>{{form.content.data or ''}}</textarea>
        </div>
        <button type='submit' class='btn btn-primary'>등록하기</button>
    </form>
</div>
{%endblock%}
{%block script%}
<script src="{{url_for('static', filename='simplemde.min.js')}}"></script>
<script src="{{url_for('static', filename='markdown.js')}}"></script>
{%endblock%}